<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="application/json; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/delivery" method="POST">
            <fieldset>
                <legend>배송정보 생성</legend>
                배송 호 수 : <input type="text" name="targetPlace" /> <br />
                <input type="submit" value="create">
            </fieldset>
        </form>
        <form action="/delivery/log" method="GET">
            <input type="submit" value="배송 정보 보기">
        </form>
    </body>
</html>