<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html">
  </head>

  <body>
    <form action="/auth/signup" method="POST">
      <fieldset>
          <legend>회원가입</legend>
          아이디 : <input type="text" name="username"  /> <br />
          비밀번호 : <input type="password" name="password" /><br/>
          이름 : <input type="text" name="name" /> <br/>
          닉네임 : <input type="text" name="nickname"/><br/>
          <input type="submit" value="sign up">
      </fieldset>
  </form>
  </body>
</html>